*{
  margin: o;
  padding: 0;
}

body {
  background: rgba(0,0,0,0.5)  url(back.png) center center fixed;
  background-size: cover;
  background-position: center;

 }

 h1{
  color: #ff7200;
  size: 40px;
  font-family: Arial;
  
 }
 
.navbar {
background-color: black;
overflow: hidden;

}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding:  20px;
  text-decoration: none;
  font-size: 20px;
  width: 180px;


 }

.navbar a:hover {
  background-color: #ddd;
  color: #ff7200;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: #ddd;
text-align: center;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical; 
}

input[type=submit] {
  background-color:#ff7200;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.image-container:hover {
  transform: scale(1.05);
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
